dash==1.9.1
dash-core-components==1.8.1
dash-d3cloud==0.1.0
dash-daq==0.3.3
dash-html-components==1.0.2
dash-renderer==1.2.4
dash-table==4.6.1
dash-wordcloud==0.3.4
joblib==0.14.1
plotly==4.6.0
pandas==1.0.1
numpy==1.18.1
nltk==3.4.5
scikit-learn==0.22.2.post1
scipy==1.4.1
datetime
Flask==1.1.1
Flask-Caching==1.8.0
Flask-Compress==1.4.0
flask-ngrok==0.0.25